<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include('link') %>
</head>
<body>
    <!-- <%- include('topnav')%> -->
    <p><%= JSON.stringify(data.domainTitle) %></p>
    <% console.log(typeof data.cookie) %>
</body>
</html>