<!DOCTYPE html>
<html lang="ko">
<head>
    <title><%= title %></title>
    <%- include('link') %>
    <link href="../public/css/search.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72c2a49ef4.js" crossorigin="anonymous"></script>
</head>
<body>
<%- include('topnav')%>
<input type="hidden" id="dataList" value="<%= JSON.stringify(data) %>">
<div>
    <div class="s003">
        <form id="search" name="search" method="get" action="/search/result">
            <div class="inner-form">
                <form>
                    <form>
                        <div class="input-field first-wrap">
                            <div class="input-select" >
                                <select data-trigger="" id="searchOption" name="option" onchange="setPlaceHolder();">
                                    <option value="domains" selected>Domains</option>
                                    <option value="publishers">Publishers</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="input-field second-wrap">
                        <input class="search" id="searchBar" name="keyword" type="text" autocomplete="off" placeholder="ex) 11st, ppomppu, naver" required/>
                        <ul class="suggestions">
                        </ul>
                    </div>
                    <div class="input-field third-wrap">
                        <button id="btn-search" class="btn-search" type="submit">
                            <i class="fas fa-search fa-lg"></i>
                        </button>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
<script src="public/js/extention/choices.js"></script>
<script>
    const choices = new Choices('[data-trigger]',
        {
            searchEnabled: true,
            itemSelectText: '',
        });
</script>
<script src="../public/js/searchBar.js"></script>
</body>
</html>