<nav class="topnav">
    <div class="topnav_title">
        <a href="/"><h1>TPC Information</h1></a>
    </div>
    <ul class="topnav_menu">
        <li><h2><a href="/">Home</a></h2></li>
        <li><h2><a href="/search">Search</a></h2></li>
        <li><h2><a href="/regist">Regist</a></h2></li>
        <li><h2><a href="#">About</a></h2></li>
    </ul>
</nav>