.color-1 {
    fill: #ffee88;
}

.color-2 {
    fill: #ffd15c;
}

.color-3 {
    fill: #FFBA08;
}

.color-4 {
    fill: #FAA307;
}

.color-5 {
    fill: #F48C06;
}

.color-6 {
    fill: #E85D04;
}

.color-7 {
    fill: #DC2F02;
}

.color-8 {
    fill: #D00000;
}

.color-9 {
    fill: #9D0208;
}

.color-10 {
    fill: #6A040F;
}

.color-11 {
    fill: #370617;
}

.color-12 {
    fill: #03071E;
}

.color-13 {
    fill: #640f00;
}

.piechart {
    margin: 80px 400px;
    padding-right: 0;
    width: 1000px;
    height: 500px;
    display: flex;
    position: relative;
    /*border: 1px solid red;*/
}

#pieChart {
    margin: 25px 0;
    background-color: transparent;
    /*border: 1px solid red;*/
}

#pieChart svg {
    background-color: transparent;
}

#legends {
    float: right;
    width: 300px;
    height: 500px;
    margin-top: 0;
    background-color: transparent;
    padding-left: 200px;
    /*border: 1px solid red;*/
}

#legends svg {
    background-color: transparent;
}

.barchart {
    padding-top: 80px;
    padding-left: 5%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#barchart {
    font-weight: 300;
}

.chart {
    border: 1px solid red;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}
