#wrap{
    width:90%;
}
.grid{
    position: relative;
    left:70px;
    right:10px;
    top:12px;
    grid-template-columns: 100px 1fr 1fr;
    font-family:"calibri";
    flex: 1;
    display:grid;
    z-index:initial;
}
.grid2{
    grid-template-columns: 600px 1fr 1fr;
    color: #5a0401;
    margin:0px 30px 0 50px;
    padding:30px 30px 0 45px;
    display:grid;
    font-family:"calibri";
    font-size: 32px;
}
.grid3{
    grid-template-columns: 610px 1fr 2fr;
    margin:30px 0 30px 80px;
    padding:45px 45px 0 45px;
    display:grid;
    font-family:"calibri";
    padding:10px 0 10px 20px;
    /*margin:20px 50px 50px 60px;*/
    font-size: 18px;
}
.item{
    /* background-color:white; */
    width:460px;
    margin:0;
    /* height:650px; */
    position:relative;
    /* display:inline-block; */
    /* overflow:scroll; */
}

.item div{
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 20px;
}

h1{
    color:#5a0401;
}
.box1{ overflow:scroll;}

h5{
    padding:0 0 0 20px;
    position:relative;
    top:19px;
}
p{
    line-height:25px;
}

.table_style {
    position: relative;
    margin-top: 22px;
    border-collapse: collapse;
    font-size: 20px;
    width: 1140px;
    height: auto;
    border:1px solid #640f00;
    text-align:center;
}
/*div.scroll{*/
/*    overflow:scroll;*/
/*}*/
th{
    background-color: #fde6c7;
    color:rgb(22, 10, 10);
}
tr{
    height:35px;
    background-color:#aa4320;
}
tbody tr:nth-child(even)  {
    /*border: 1px solid #640f00;*/
    background-color: #f0e5dc;
    color:black;                }

tbody tr:nth-child(odd)
{ background-color: #f9f8f5;
    color:black;
    /*border: 1px solid #640f00;*/
}

label {
    display: block;
    padding: 10px;
}
/*button{*/
/*    display:block;*/
/*    margin:20px auto;*/
/*}*/

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    font-size: 12px;
    background-color: black;
    opacity: 90%;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
