@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    background-color:#fcf4e5;
    opacity: 90%;
}

.topnav {
    display: flex;
    height: 40px;
    left: 0;
    right: 0;
    width: auto;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #fea71a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F37335, #fea71a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F37335, #fea71a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8px 20px;
    position: relative;
}

.topnav h1 {
    font-size: 26px;
    font-weight: 600;
}

.topnav h2 {
    font-size: 19px;
    font-weight: 600;
}

.topnav h3 {
    font-size: 18px;
    font-weight: 400;
}

.menu a:hover {
    color: #fef4e8
}

.topnav a {
    text-decoration: none;
    color: #640f00;
}

.topnav_title {
    font-size: 18px;
}

.topnav_menu {
    display: flex;
    list-style: none;
    align-content: center;
    font-size: 17px;
}

.menu{
    text-align: center;
}

.topnav_menu li {
    padding: 8px 12px;
    justify-content: space-between;
}

.subnav {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    width: auto;
    height: 35px;
}

.subnav a {
    color: #fef4e8;
    text-decoration: none;
}

.subnav_menu {
    background-color: #640f00;
    display: flex;
    flex: 1;
    padding: 6px 12px;
    left: auto;
    right: auto;
    width: auto;
    color: #fef4e8;
    font-weight: 300;
    justify-content: center;
    float: right;
}